.subpage-portal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: var(--subpage-z);
}

.subpage-container {
    box-shadow: var(--modal-shadow);
    background: var(--modal-bg);
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.subpage-layout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    opacity: 0;
}

.subpage-layout.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity .15s;
}

.subpage-layout-inner {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100vw;
    max-width: 800px;
    background: var(--bg-body);
    box-shadow: var(--hilight-shadow);
}

@media screen and (max-width: 768px) {
    .subpage-layout-inner {
        width: 100vw !important;
        height: 100vh !important;
        flex-grow: 1;
    }
}


.subpage-content {
    overflow-y: auto;
    flex-grow: 1;
}

.subpage-toolbar {
    display: flex;
    align-items: center;
    height: var(--nav-h);
    background: var(--nav-bg);
    box-shadow: var(--shadow-md-vivid);
    flex-shrink: 0;
    z-index: 1;
}

.subpage-toolbar-back {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: var(--nav-h);
}
